___
<h1> Machine Learning </h1>
<h2> Systems Engineering and Computer Technologies / Engenharia de Sistemas e Tecnologias Informáticas
(LESTI)</h2>
<h3> Instituto Superior de Engenharia / Universidade do Algarve </h3>

[LESTI](https://ise.ualg.pt/curso/1941) / [ISE](https://ise.ualg.pt) / [UAlg](https://www.ualg.pt)

Pedro J. S. Cardoso (pcardoso@ualg.pt)

___

## Exercício

Prepare os seus modelos e submeta as suas previsões para o concurso [Bike Sharing Demand](https://www.kaggle.com/c/bike-sharing-demand/).

In [1]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor

# Load data

In [3]:
train_data = pd.read_csv('./../bike-sharing-demand/train.csv')
test_data = pd.read_csv('./../bike-sharing-demand/test.csv')
train_data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

# Preprocessing

get features and target

In [6]:
cols = train_data.columns
features_names = cols.drop(['datetime', 'count', 'casual', 'registered'])
target = 'count'

Split date into year, month, day, hour, weekday

In [7]:
def split_date(data):
    data['datetime'] = pd.to_datetime(data['datetime'])
    data['hour'] = data['datetime'].dt.hour
    data['month'] = data['datetime'].dt.month
    data['day'] = data['datetime'].dt.day
    return data 

train_data = split_date(train_data)
test_data = split_date(test_data)

In [8]:
X_train = train_data[features_names]
y_train = train_data[target]

In [9]:
X_test = test_data[features_names]

In [ ]:


knn = KNeighborsRegressor(n_neighbors=5)

model = GridSearchCV(knn, param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11]}, cv=5, n_jobs=-1).fit(X_train, y_train)

model

In [ ]:
pred = model.predict(X_test)

df = pd.DataFrame({'datetime': test_data['datetime'], 'count': pred})
df

In [ ]:
df.to_csv('submission.csv', index=False)